{% extends "template.html" %}
{% block head %}
{{ super() }}
<!-- This lets you append items to the <head> tag from template.html, so this is where your script tags and custom style sheets should go -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<!--script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script-->

	<script type="text/javascript">
			$(document).ready( function () {
			
				var invDataTable = $('#invTable').DataTable( {
					ajax:{
						url:"/get_json_data",
						dataType:"json",
						dataSrc:"data",
						contentType:"application/json"
						},
					scrollX:true,
					columns:[
						{data: "char"},				//0
						{data: "storage"},			//1
						{data: "quantity"},			//2
						{data: "id",
							render: function(data, type, row, meta) {
								if(type == 'display'){
									data = '<a href=\"http://ffxiah.com/item/' + data + '">' + data + '</a>';
								}
								return data;
							}
						},							//3
						{data: "en"},				//4
						{data: "ja",},				//5
						{data: "enl"},				//6
						{data: "jal"},				//7
						{data: "category"},			//8
						{data: "flags"},			//9
						{data: "stack"},			//10
						{data: "level"},			//11
						{data: "item_level"},		//12
						{data: "superior_level"},	//13
						{data: "damage"},			//14
						{data: "delay"},			//15
						{data: "skill"},			//16
						{data: "targets"},			//17
						{data: "type"},				//18
						{data: "cast_time"},		//19
						{data: "jobs"},				//20
						{data: "races"},			//21
						{data: "slots"},			//22
						{data: "cast_delay"},		//23
						{data: "recast_delay"},		//24
						{data: "max_charges"},		//25
						{data: "shield_size"},		//26
						{data: "job_text"}			//27
					],
					columnDefs:[
					{targets: [0], visible: false, searchable: false},
					{targets: [5], visible: false, searchable: false},
					{targets: [6], visible: false, searchable: false},
					{targets: [7], visible: false, searchable: false},
					{targets: [9], visible: false, searchable: false},
					{targets: [17], visible: false, searchable: false},
					{targets: [18], visible: false, searchable: false},
					//{targets: [20], visible: false, searchable: true},
					{targets: [21], visible: false, searchable: true},
					{targets: [22], visible: false, searchable: true},
					{targets: [27], visible: false, searchable: true}
					]
				});
			
	// --- Filtering for Bags ---
			var filterBagArray = ["^inventory$", "^satchel$", "^storage$", "^locker$", "^safe$", "^safe2$", "^sack$","^case$", "^wardrobe$", "^wardrobe2$", "^wardrobe3$", "^wardrobe4$"];
			var filterBagStr = "";
			$("#inventoryBtn").on('click', function (){	checkBagPress("inventory",0, this); });
			$("#satchelBtn").on('click', function (){ checkBagPress("satchel",1, this); });
			$("#storageBtn").on('click', function (){ checkBagPress("storage",2, this); });
			$("#lockerBtn").on('click', function (){checkBagPress("locker",3, this); });
			$("#safe1Btn").on('click', function (){	checkBagPress("safe",4, this);	});
			$("#safe2Btn").on('click', function (){	checkBagPress("safe2",5, this); });
			$("#sackBtn").on('click', function (){ checkBagPress("sack",6, this); });
			$("#caseBtn").on('click', function (){ checkBagPress("case",7, this); });
			$("#wardrobe1Btn").on('click', function (){	checkBagPress("wardrobe",8, this);	});
			$("#wardrobe2Btn").on('click', function (){	checkBagPress("wardrobe2",9, this); });
			$("#wardrobe3Btn").on('click', function (){	checkBagPress("wardrobe3",10, this); });
			$("#wardrobe4Btn").on('click', function (){ checkBagPress("wardrobe4",11, this); });
			
			function checkBagPress(filter, index, caller){
				if (filterBagArray[index] == "^0$"){
					filterBagArray[index] = "^"+filter+"$";
					filterBagStr = filterBagArray.join("|");
					caller.style.backgroundColor = "#007BFF";
				} else {
					filterBagArray[index] = "^0$";
					filterBagStr = filterBagArray.join("|");
					caller.style.backgroundColor = "gray";
				}
				//console.log(filterBagStr);
				invDataTable.columns(1).search(filterBagStr, true, false, false).draw();
			}
	// --- End Bag Filtering ---
		
		
	// --- Filtering for Race/Gender ---
		var filterRaceArray = [1, 1, 1, 1, 1, 1, 1, 1]
		var filterRaceVal = 510;
		$("#HmaleBtn").on('click', function (){	checkRacePress(2, 0, this); });
		$("#HfemaleBtn").on('click', function (){ checkRacePress(4, 1, this); });
		$("#EmaleBtn").on('click', function (){ checkRacePress(8, 2, this); });
		$("#EfemaleBtn").on('click', function (){ checkRacePress(16, 3, this); });
		$("#TmaleBtn").on('click', function (){ checkRacePress(32, 4, this); });
		$("#TfemaleBtn").on('click', function (){ checkRacePress(64, 5, this); });
		$("#MithraBtn").on('click', function (){ checkRacePress(128, 6, this); });
		$("#GalkaBtn").on('click', function (){ checkRacePress(256, 7, this); });
		
		function checkRacePress(value, i, caller){
				if (filterRaceArray[i] == 1){
					filterRaceArray[i] = 0;
					filterRaceVal = filterRaceVal - value;
					caller.style.backgroundColor = "gray";
				} else {
					filterRaceArray[i] = 1;
					filterRaceVal = filterRaceVal + value;
					console.log("SET ME GRAY DAMMIT");
					caller.style.backgroundColor = "#007BFF";
				}
				console.log(filterRaceArray);
				console.log("%d", filterRaceVal);
				invDataTable.columns(21).search("^"+filterRaceVal+"$", true, false, false).draw();
			}
		
	// --- End Race/Gender Filtering ---
		
	// --- Filtering for Slots ---
		var filterSlotArray = [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
		var filterSlotVal = 65535;
		$("#hand1Btn").on('click', function (){ checkSlotPress(1, 0, this); });
		$("#hand2Btn").on('click', function (){ checkSlotPress(2, 1, this); });
		$("#rangedBtn").on('click', function (){ checkSlotPress(4, 2, this); });
		$("#ammoBtn").on('click', function (){ checkSlotPress(8, 3, this); });
		$("#headBtn").on('click', function (){ checkSlotPress(16, 4, this); });
		$("#bodyBtn").on('click', function (){ checkSlotPress(32, 5, this); });
		$("#handsBtn").on('click', function (){ checkSlotPress(64, 6, this); });
		$("#legsBtn").on('click', function (){ checkSlotPress(128, 7, this); });
		$("#feetBtn").on('click', function (){ checkSlotPress(256, 8, this); });
		$("#neckBtn").on('click', function (){ checkSlotPress(512, 9, this); });
		$("#beltBtn").on('click', function (){ checkSlotPress(1024, 10, this); });
		$("#ear1Btn").on('click', function (){ checkSlotPress(2048, 11, this); });
		$("#ear2Btn").on('click', function (){ checkSlotPress(4096, 12, this); });
		$("#ring1Btn").on('click', function (){ checkSlotPress(8192, 13, this); });
		$("#ring2Btn").on('click', function (){ checkSlotPress(16384, 14, this); });
		$("#backBtn").on('click', function (){ checkSlotPress(32768, 15, this); });
		
		function checkSlotPress(filter, index, caller){
				if (filterSlotArray[index] == 0){
					filterSlotArray[index] = 1;
					filterSlotVal = filterSlotVal + filter;
					caller.style.backgroundColor = "#007BFF";
				} else {
					filterSlotArray[index] = 0;
					filterSlotVal = filterSlotVal - filter;
					caller.style.backgroundColor = "gray";
				}
				if(filterSlotVal == 65535){
					invDataTable.columns(22).search("", true, false, false).draw();
				} else {
					console.log("%d", filterSlotVal);
					invDataTable.columns(22).search("^" + filterSlotVal + "$", true, false, false).draw();
				}
			}
		
	// --- End Slots Filtering ---
		
	// --- Filtering for Jobs ---
		var bInclusive;
		var filterJobArrayStr = ["WAR", "MNK", "WHM", "BLM", "RDM", "THF", "PLD", "DRK", "BST", "BRD", "RNG", "SAM", "NIN", "DRG", "SMN", "BLU", "COR", "PUP", "DNC", "SCH", "GEO", "RUN"]
		var filterJobArrayInt = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
		var filterJobAll = ["WAR", "MNK", "WHM", "BLM", "RDM", "THF", "PLD", "DRK", "BST", "BRD", "RNG", "SAM", "NIN", "DRG", "SMN", "BLU", "COR", "PUP", "DNC", "SCH", "GEO", "RUN"]
		var filterJobStr;
		var elements = document.getElementsByClassName('job-btn');
		var logAll = false;
		
		// Get init state and adjust accordingly
		if($('#checkExBox').is(':checked')){
			bInclusive = true;
			if (logAll == true){console.log('NOT CHECKED');};
			// Set all buttons to Blue and show table
			for(var i=0; i < elements.length; i++) { 
				elements[i].style.backgroundColor = "007BFF";
			}
			invDataTable.columns(20).search('').draw();			
		}else {
			bInclusive = false;
			if (logAll == true){console.log('CHECKED');};
			// Set all buttons to Grey and clear table
			for(var i=0; i < elements.length; i++) { 
				elements[i].style.backgroundColor = "gray";
			}
			invDataTable.columns(20).search('^0$', true, false, false).draw();
			
		}
		
		// Handle toggle change
		$('#checkExBox').on('change', function() {
			if (logAll == true){console.log('CLICKED');};
			if($('#checkExBox').is(':checked')){
				bInclusive = true;
				if (logAll == true){console.log('bInclusive is now = ', bInclusive);};
				// Set all buttons to Blue and show table
				for(var i=0; i < elements.length; i++) { 
					elements[i].style.backgroundColor = "#007BFF";
				}
				invDataTable.columns(20).search('').draw();
			}else {	
				bInclusive = false; 
				if (logAll == true){console.log('bInclusive is now = ', bInclusive);};
				// Set all buttons to Grey and clear table
				for(var i=0; i < elements.length; i++) { 
					elements[i].style.backgroundColor = "gray";
				}
				invDataTable.columns(27).search('', true, false, false).draw();
				invDataTable.columns(20).search('^0$', true, false, false).draw();
			}
		});


		$("#warBtn").on('click', function (){ checkJobPress('WAR', 2, 		0, this); });
		$("#mnkBtn").on('click', function (){ checkJobPress('MNK', 4, 		1, this); });
		$("#whmBtn").on('click', function (){ checkJobPress('WHM', 8, 		2, this); });
		$("#blmBtn").on('click', function (){ checkJobPress('BLM', 16, 		3, this); });
		$("#rdmBtn").on('click', function (){ checkJobPress('RDM', 32, 		4, this); });
		$("#thfBtn").on('click', function (){ checkJobPress('THF', 64, 		5, this); });
		$("#pldBtn").on('click', function (){ checkJobPress('PLD', 128, 	6, this); });
		$("#drkBtn").on('click', function (){ checkJobPress('DRK', 256, 	7, this); });
		$("#bstBtn").on('click', function (){ checkJobPress('BST', 512, 	8, this); });
		$("#brdBtn").on('click', function (){ checkJobPress('BRD', 1024, 	9, this); });
		$("#rngBtn").on('click', function (){ checkJobPress('RNG', 2048, 	10, this); });
		$("#samBtn").on('click', function (){ checkJobPress('SAM', 4096, 	11, this); });
		$("#ninBtn").on('click', function (){ checkJobPress('NIN', 8192, 	12, this); });
		$("#drgBtn").on('click', function (){ checkJobPress('DRG', 16384, 	13, this); });
		$("#smnBtn").on('click', function (){ checkJobPress('SMN', 32768, 	14, this); });
		$("#bluBtn").on('click', function (){ checkJobPress('BLU', 65536, 	15, this); });
		$("#corBtn").on('click', function (){ checkJobPress('COR', 131072, 	16, this); });
		$("#pupBtn").on('click', function (){ checkJobPress('PUP', 262144, 	17, this); });
		$("#dncBtn").on('click', function (){ checkJobPress('DNC', 524288, 	18, this); });
		$("#schBtn").on('click', function (){ checkJobPress('SCH', 1048576,	19, this); });
		$("#geoBtn").on('click', function (){ checkJobPress('GEO', 2097152,	20, this); });
		$("#runBtn").on('click', function (){ checkJobPress('RUN', 4194304,	21, this); });
		$("#selJob").on('click', function (){ seldeselAllJob('all'); });
		$("#deselJob").on('click', function (){ seldeselAllJob('none'); });

		function checkJobPress(filterStr, filterInt, index, caller){
			if(bInclusive == true){
				if (filterJobArrayStr[index] == "^0$"){
					filterJobArrayStr[index] = filterStr;
					filterJobStr = filterJobArrayStr.join("|");
					caller.style.backgroundColor = "#007BFF";
					if (logAll == true){console.log('IN: 0 found', filterJobArrayStr);};
					if (logAll == true){console.log('IN: filterstr',filterJobStr);};
				} else {
					filterJobArrayStr[index] = "^0$";
					filterJobStr = filterJobArrayStr.join("|");
					caller.style.backgroundColor = "gray";
					if (logAll == true){console.log('IN: Job found', filterJobArrayStr);};
					if (logAll == true){console.log('IN: filterstr',filterJobStr);};
				}
				if (logAll == true){console.log(filterJobStr);};
				invDataTable.columns(27).search(filterJobStr, true, false, false).draw();
				
			} else {
				if (filterJobArrayInt[index] == 0){
					filterJobArrayInt[index] = filterInt;
					filterJobStr = 0;
					for(var i = 0; i < filterJobArrayInt.length;i++){
						filterJobStr = filterJobStr + filterJobArrayInt[i];
					}
					caller.style.backgroundColor = "#007BFF";
					if (logAll == true){console.log('EX: add job', filterJobArrayInt);};
					if (logAll == true){console.log('EX: filterstr',filterJobStr);};
				} else {
					filterJobArrayInt[index] = 0;
					filterJobStr = filterJobStr - filterInt;
					caller.style.backgroundColor = "gray";
					if (logAll == true){console.log('EX: remove job', filterJobArrayInt);};
					filterJobStr = 0;
					for(var i = 0; i < filterJobArrayInt.length;i++){
						filterJobStr = filterJobStr + filterJobArrayInt[i];
					}
					if (logAll == true){console.log('EX: filterstr',filterJobStr);};
				}
				if (filterJobStr == 0)
					filterJobStr = '0';
				filterJobStr = filterJobStr.toString();
				filterJobStr = '^'+filterJobStr+'$';
				if (logAll == true){console.log('EX: filterInt',filterJobStr);};
				invDataTable.columns(20).search(filterJobStr, true, false, false).draw();
			}
		} //------END checkJobPress
			
		function seldeselAllJob(filterStr){
			if (filterStr == 'all'){
				filterJobStr = filterJobAll.join("|");
				if (logAll == true){console.log('ALL filterstr',filterJobStr);};
				invDataTable.columns(27).search(filterJobStr, true, false, false).draw();
				
				elements = document.getElementsByClassName('job-btn');
				for(var i=0; i < elements.length; i++) { 
					elements[i].style.backgroundColor = "#007BFF";
				}
			} else {
				filterJobStr = '^0$';
				if (logAll == true){console.log('NONE filterstr',filterJobStr);};
				for(var i=0; i < filterJobArrayStr.length; i++) {
					filterJobArrayStr[i]='^0$';
				}
				invDataTable.columns(27).search(filterJobStr, true, false, false).draw();
				
				elements = document.getElementsByClassName('job-btn');
				for(var i=0; i < elements.length; i++) { 
					elements[i].style.backgroundColor = "gray";
				}
			}
		}
	// --- End Jobs Filtering --- 
	});
	</script>
{% endblock %}

	{% block content %}
		<div class="container">
			<h4 class="text-center">Inventory for Aeliya</h4>
			<table class="display nowrap" id="invTable">
				<thead>
					<tr>
						<th>Char</th>
						<th>Bag</th>
						<th>Qty</th>
						<th>Id</th>
						<th>Item</th>
						<th>Ja</th>
						<th>Description</th>
						<th>Jal</th>
						<th>Category</th>
						<th>Flags</th>
						<th>Stack</th>
						<th>Level</th>
						<th>iLvl</th>
						<th>SuLvl</th>
						<th>Damage</th>
						<th>Delay</th>
						<th>Skill</th>
						<th>Targets</th>
						<th>Type</th>
						<th>Cast Time</th>
						<th>Jobs</th>
						<th>Races</th>
						<th>Slots</th>
						<th>Cast Delay</th>
						<th>Recast Delay</th>
						<th>Charges</th>
						<th>Shield</th>
						<th>JobText</th>	
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Row 1 Data 1</td>
						<td>Row 1 Data 2</td>
					</tr>
					<tr>
						<td>Row 2 Data 1</td>
						<td>Row 2 Data 2</td>
					</tr>
				</tbody>
			</table>
		</div>
		<script type="text/javascript">

		</script>
	{% endblock %}

	{% block sidebar %}
	 <!-- Side navigation -->
		<div class="col-2 collapse show d-md-flex bg-light pt-2 pl-0 min-vh-100" id="sidenav">
			<ul class="nav flex-column flex-nowrap overflow-hidden">
				<li class="nav-item">
					<a class="nav-link collapsed text-truncate" href="#submenu1" data-toggle="collapse" data-target="#submenu1"><i class="fa fa-table"></i> <span class="d-none d-sm-inline">Filters +</span></a>
					<div class="collapse" id="submenu1" aria-expanded="false">
						<ul class="flex-column pl-2 nav">
							<li class="nav-item">
								<a class="nav-link collapsed py-1" href="#submenu1sub1" data-toggle="collapse" data-target="#submenu1sub1"><span>Jobs +</span></a>
								<div class="collapse" id="submenu1sub1" aria-expanded="false">
									<ul class="flex-column nav pl-4">
										<li class="nav-item">
											<li>
											<input id="checkExBox" type="checkbox" checked data-toggle="toggle" data-on="Inclusive" data-off="Exclusive" data-width="70" data-size="sm"></input>
											</li>
											<li>
											<button class="btn btn-primary btn-sm job-btn" role="button" id="warBtn">WAR</button>
											<button class="btn btn-primary btn-sm job-btn" role="button" id="mnkBtn">MNK</button>
											</li>
											<li>
											<button class="btn btn-primary btn-sm job-btn" role="button" id="whmBtn">WHM</button>
											<button class="btn btn-primary btn-sm job-btn" role="button" id="blmBtn">BLM</button>
											</li>
											<li>
											<button class="btn btn-primary btn-sm job-btn" role="button" id="rdmBtn">RDM</button>
											<button class="btn btn-primary btn-sm job-btn" role="button" id="thfBtn">THF</button>
											</li>
											<li>
											<button class="btn btn-primary btn-sm job-btn" role="button" id="pldBtn">PLD</button>
											<button class="btn btn-primary btn-sm job-btn" role="button" id="drkBtn">DRK</button>
											</li>
											<li>
											<button class="btn btn-primary btn-sm job-btn" role="button" id="bstBtn">BST</button>
											<button class="btn btn-primary btn-sm job-btn" role="button" id="brdBtn">BRD</button>
											</li>
											<li>
											<button class="btn btn-primary btn-sm job-btn" role="button" id="rngBtn">RNG</button>
											<button class="btn btn-primary btn-sm job-btn" role="button" id="samBtn">SAM</button>
											</li>
											<li>
											<button class="btn btn-primary btn-sm job-btn" role="button" id="ninBtn">NIN</button>
											<button class="btn btn-primary btn-sm job-btn" role="button" id="drgBtn">DRG</button>
											</li>
											<li>
											<button class="btn btn-primary btn-sm job-btn" role="button" id="smnBtn">SMN</button>
											<button class="btn btn-primary btn-sm job-btn" role="button" id="bluBtn">BLU</button>
											</li>
											<li>
											<button class="btn btn-primary btn-sm job-btn" role="button" id="corBtn">COR</button>
											<button class="btn btn-primary btn-sm job-btn" role="button" id="pupBtn">PUP</button>
											</li>
											<li>
											<button class="btn btn-primary btn-sm job-btn" role="button" id="dncBtn">DNC</button>
											<button class="btn btn-primary btn-sm job-btn" role="button" id="schBtn">SCH</button>
											</li>
											<li>
											<button class="btn btn-primary btn-sm job-btn" role="button" id="geoBtn">GEO</button>
											<button class="btn btn-primary btn-sm job-btn" role="button" id="runBtn">RUN</button>
											</li>
											<li>
											<button class="btn btn-primary btn-lg" role="button" id="selJob">Select All</button>
											<button class="btn btn-primary btn-lg" role="button" id="deselJob">Deselect All</button>
											</li>
										</li>
									</ul>
								</div>
							</li>
							<li class="nav-item">
								<a class="nav-link collapsed py-1" href="#submenu1sub2" data-toggle="collapse" data-target="#submenu1sub2"><span>Races +</span></a>
								<div class="collapse" id="submenu1sub2" aria-expanded="false">
									<ul class="flex-column nav pl-4">
										<li class="nav-item">
											<li>
											<button class="btn btn-primary btn-sm" role="button" id="HmaleBtn">H &#x2642 </button>
											<button class="btn btn-primary btn-sm" role="button" id="HfemaleBtn">H &#x2640 </button>
											</li>
											<li>
											<button class="btn btn-primary btn-sm" role="button"id="EmaleBtn">E &#x2642 </button>
											<button class="btn btn-primary btn-sm" role="button"id="EfemaleBtn">E &#x2640 </button>
											</li>
											<li>
											<button class="btn btn-primary btn-sm" role="button" id="TmaleBtn">T &#x2642 </button>
											<button class="btn btn-primary btn-sm" role="button" id="TfemaleBtn">T &#x2640 </button>
											</li>
											<li>
											<button class="btn btn-primary btn-sm" role="button" id="GalkaBtn">Gk</button>
											<button class="btn btn-primary btn-sm" role="button" id="MithraBtn">Mi</button>
											</li>
										</li>
									</ul>
								</div>
							</li>
							<li class="nav-item">
								<a class="nav-link collapsed py-1" href="#submenu1sub3" data-toggle="collapse" data-target="#submenu1sub3"><span>Bags +</span></a>
								<div class="collapse" id="submenu1sub3" aria-expanded="false">
									<ul class="flex-column nav pl-4">
										<li class="nav-item">
											<li>
											<button class="btn btn-primary btn-sm" role="button" id="inventoryBtn">INVY</button>
											<button class="btn btn-primary btn-sm" role="button" id="satchelBtn">SATC</button>
											</li>
											<li>
											<button class="btn btn-primary btn-sm" role="button" id="storageBtn">STOR</button>
											<button class="btn btn-primary btn-sm" role="button" id="lockerBtn">LOCK</button>
											</li>
											<li>
											<button class="btn btn-primary btn-sm" role="button" id="safe1Btn">SAF1</button>
											<button class="btn btn-primary btn-sm" role="button" id="safe2Btn">SAF2</button>
											</li>
											<li>
											<button class="btn btn-primary btn-sm" role="button" id="sackBtn">SACK</button>
											<button class="btn btn-primary btn-sm" role="button" id="caseBtn">CASE</button>
											</li>
											<li>
											<button class="btn btn-primary btn-sm" role="button" id="wardrobe1Btn">WAR1</button>
											<button class="btn btn-primary btn-sm" role="button" id="wardrobe2Btn">WAR2</button>
											</li>
											<li>
											<button class="btn btn-primary btn-sm" role="button" id="wardrobe3Btn">WAR3</button>
											<button class="btn btn-primary btn-sm" role="button" id="wardrobe4Btn">WAR4</button>
											</li>
										</li>
									</ul>
								</div>
							</li>
							<li class="nav-item">
								<a class="nav-link collapsed py-1" href="#submenu1sub4" data-toggle="collapse" data-target="#submenu1sub4"><span>Slots +</span></a>
								<div class="collapse" id="submenu1sub4" aria-expanded="false">
									<ul class="flex-column nav pl-4">
										<li class="nav-item">
											<li>
											<button class="btn btn-primary btn-sm equip-btn" role="button" id="hand1Btn">MAIN</button>
											<button class="btn btn-primary btn-sm equip-btn" role="button" id="hand2Btn">SUB</button>
											<button class="btn btn-primary btn-sm equip-btn" role="button" id="rangedBtn">RNGD</button>
											<button class="btn btn-primary btn-sm equip-btn" role="button" id="ammoBtn">AMMO</button>
											</li>
											<li>
											<button class="btn btn-primary btn-sm equip-btn" role="button" id="headBtn">HEAD</button>
											<button class="btn btn-primary btn-sm equip-btn" role="button" id="neckBtn">NECK</button>
											<button class="btn btn-primary btn-sm equip-btn" role="button" id="ear1Btn">EAR1</button>
											<button class="btn btn-primary btn-sm equip-btn" role="button" id="ear2Btn">EAR2</button>
											</li>
											<li>
											<button class="btn btn-primary btn-sm equip-btn" role="button" id="bodyBtn">BODY</button>
											<button class="btn btn-primary btn-sm equip-btn" role="button" id="handsBtn">HAND</button>
											<button class="btn btn-primary btn-sm equip-btn" role="button" id="ring1Btn">RNG1</button>
											<button class="btn btn-primary btn-sm equip-btn" role="button" id="ring2Btn">RNG2</button>
											</li>
											<li>
											<button class="btn btn-primary btn-sm equip-btn" role="button" id="backBtn">BACK</button>
											<button class="btn btn-primary btn-sm equip-btn" role="button" id="beltBtn">BELT</button>
											<button class="btn btn-primary btn-sm equip-btn" role="button" id="legsBtn">LEGS</button>
											<button class="btn btn-primary btn-sm equip-btn" role="button" id="feetBtn">FEET</button>
											</li>
										</li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
		

	{% endblock %}

